@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./images/seamless-sky-with-clouds.jpg");
    padding:50px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}
.header {
  display: flex;
  justify-content: space-between;
  font-size: 46px;
  font-weight: bolder;
  color: white;
  background: linear-gradient(180deg,rgb(7, 81, 124),#0a8ac5) fixed;
  padding: 40px 70px;
  margin: 40px 12px 5px 12px;
  border: 0;

}

.card-container{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.card{
    width: 180px;
    height: 500px;
    position: relative;
    background: linear-gradient(180deg,rgb(7, 81, 124),#0a8ac5) fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    padding: 0;
    color: white;
    margin: 0;
    transition: all .3s ease-in;
}

.card-image{
    height: 150px;
    width: 150px;
    border: 5px double #022a3c;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;    
}
.card-title{
    padding: 10px 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 1px 0px 2px #262654;
    background-color: white;
    margin-bottom: 30;
}
.card:nth-child(1) .card-image{
    background-image: url(coding.jpg);
}
.card:nth-child(2) .card-image{
    background-image: url(cooking.jpg);
}
.card:nth-child(3) .card-image{
    background-image: url(cycling.jpg);
}
.card:hover{
    background: #e84393;
    color: #fff;
    box-shadow: 0px 0px 11px 5px #000000;

}

.card .card-text{
    line-height: 20px;
    font-size: 400;
}